beautifulsoup4==4.12.2
black==23.3.0
fuzzywuzzy==0.18.0
matplotlib==3.7.1
pandas==1.5.3
python-dateutil==2.8.2
pipreqs==0.4.13
pre-commit==3.3.3
pytest==7.4.0
python-Levenshtein==0.21.1
regex==2023.6.3
requests==2.31.0
requests-ratelimiter==0.4.0
ruff==0.0.275
tqdm==4.65.0
us==2.0.2
webcolors==1.13
